// bower:scss
// endbower

@import 'yaui/yaui';

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  @extend .row;
}

main {
  @extend .row;
}

.nap {
  @include columns(3);
}

.cta {
  @include columns(3, right);
}

.content {
  @include columns(6);
}

.optional {
  @include columns(3, right, clear);
}

footer {
  @extend .row;
}

.twelve-cols {
  @extend .row;
}

.twelve-cols > div {
  @include columns;
}
