.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.word-break {
   -ms-word-break: break-all;
       word-break: break-all;

       /* Non standard for webkit */
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

// Calculated and fixed values *DO NOT CHANGE*
$breakpoint-aliases: small large x-large;

/*
 * Mixin for easy media queries
 * @include bp(width) { SCSS here };
 * valid width values are small large x-large
*/
@mixin bp($type) {
  $pos: index($breakpoint-aliases, $type);
  $bp: nth($breakpoints, $pos);

  @media (min-width: $bp) {
    @content;
  }
}
